*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  min-height: 100%;
  background: -webkit-linear-gradient(to right, #243855, #243b55, #141e30);
  background: linear-gradient(to right, #243855, #243b55, #141e30);
}

html {
  height: 100%;
}
